ul {
   display: flex;
   width: 100%;
   padding: 0;
   flex-wrap: wrap;
}

li {
   list-style-type: none;
   /* 다른 스타일 속성들도 있을 수 있습니다. */
   border: 1px solid black;
   width: 16.55%;
   text-align: center;
}
